# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!/doc
!/installer
!.clang-format
!.editorconfig
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!README_JP.md
!CHANGELOG.md

# UML directory
!/uml
/uml/**
!uml/README.md
!uml/uml_*.puml

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber

# Do not commit vendor libraries
/src/vendor/

# Installer Directory
/installer/files/
/installer/*.exe
!/installer/setup.nsi

# Release Directory
/release/